[Desktop Entry]
Version=1.0
Name=Dream Cut
Exec=__APP__ %f
Icon=graphics.dreamcut.DreamCut
Comment=Video editing and motion graphics
GenericName=Dream Cut Editor
StartupNotify=true
Terminal=false
Type=Application
Categories=Graphics;AudioVideo;
MimeType=application/x-graphics.friction.Friction;
StartupWMClass=dreamcut
